$v-app-loading-text: "Loading RTI Holidays, please wait...";
$v-background-color: #444d50;
$v-focus-color: #07a9ca;
$v-focus-style: 0 0 3px 2px $v-focus-color;
$v-bevel-depth: 40%;
$v-gradient: v-linear 12%;
/*$v-border-radius: 10px;*/
$v-border-radius: 3px;
$v-font-size: 14px;
/*$v-font-family: Roboto, sans-serif;*/
$v-font-family: "Verdana", sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-bevel: inset 0 1px 2px v-tint, inset 0 0 1px (v-tint 0.1);
$v-shadow: 0 0 0 3px rgba(0,0,0,0.32), 0 1px 0 3px rgba(255,255,255,0.14);
$v-textfield-bevel: inset 0 2px 2px v-shade;
$v-textfield-shadow: $v-shadow;
$v-unit-size: 40px;
$v-overlay-shadow: 0 0 0 3px (v-shade 8), 0 5px 10px (v-shade 4);
$v-component-group-spacing: 6px;


/*$mat-background-color: #fafafa;*/ /* #fafafa for a light and #303030 for a dark theme */
/*$v-focus-color: #00BCD4;*/
/* (You can find colors at materialpalette.com) $v-focus-color is supposed to be your accent color */
/*@import "../material/material.scss";*/

@import "../valo/valo.scss";
/*@import "../../addons/hybrid-menu/hybrid-menu.scss";*/

/*@import "addons.scss";*/
/*@import "rti.scss";*/

/*
.rti {
@include addons;
  // Include rti theme styles in your theme
  @include rti;
}
*/


@mixin rti {
  @include valo;
  /*@include hybrid-menu;*/
  /*@include material;*/

  .debug_border {
    border: 1px dotted green;
  }

  .neg_status_negotiating {
    color: orange;
  }

  .neg_status_ok {
    color: green;
  }

  .neg_status_rejected {
    color: red;
  }
  /* An actual theme rule */
  /*
  .v-button {
    color: #fff;
  }*/
}
