$v-app-loading-text: "Loading RTI Holidays, please wait...";
$v-background-color: #444d50;
$v-focus-color: #07a9ca;
$v-focus-style: 0 0 3px 2px $v-focus-color;
$v-bevel-depth: 40%;
$v-gradient: v-linear 12%;
/*$v-border-radius: 10px;*/
$v-border-radius: 3px;
$v-font-size: 14px;
/*$v-font-family: Roboto, sans-serif;*/
$v-font-family: "Verdana", sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-bevel: inset 0 1px 2px v-tint, inset 0 0 1px (v-tint 0.1);
$v-shadow: 0 0 0 3px rgba(0,0,0,0.32), 0 1px 0 3px rgba(255,255,255,0.14);
$v-textfield-bevel: inset 0 2px 2px v-shade;
$v-textfield-shadow: $v-shadow;
$v-unit-size: 40px;
$v-overlay-shadow: 0 0 0 3px (v-shade 8), 0 5px 10px (v-shade 4);
$v-component-group-spacing: 6px;


/*$mat-background-color: #fafafa;*/ /* #fafafa for a light and #303030 for a dark theme */
/*$v-focus-color: #00BCD4;*/
/* (You can find colors at materialpalette.com) $v-focus-color is supposed to be your accent color */
/*@import "../material/material.scss";*/

@import "../valo/valo.scss";
/*@import "../../addons/hybrid-menu/hybrid-menu.scss";*/

/*@import "addons.scss";*/
/*@import "rti.scss";*/

/*
.rti {
@include addons;
  // Include rti theme styles in theme
  @include rti;
}
*/


@mixin rti {
    @include valo;
    /*@include hybrid-menu;*/
    /*@include material;*/

    .debug_border {
        border: 1px dotted green;
    }

    .neg_status_negotiating {
        color: orange;
    }

    .neg_status_ok {
        color: green;
    }

    .neg_status_rejected {
        color: red;
    }

    .neg_status_new {
        color: yellow;
    }

    .neg_status_partly_negotiated {
        color: cyan;
    }

    .hp_crossing_dates {
        border:1px dotted red;
    }

    .hp_crossing_message {
        color: white;
        font-style: italic;
        font-size:16px;
    }

    .hp_crossing_check_ok {
        color: #7FFF00;
    }

    .hp_crossing_check_failed {
        color: #7FFF00;
    }

    .rti_info, .rti_success, .rti_warning, .rti_error {
        margin: 10px 0px;
        padding: 12px;
    }

    .rti_info {
        color: #00529B;
        background-color: #BDE5F8;
    }
    .rti_success {
        color: #4F8A10;
        background-color: #DFF2BF;
    }
    .rti_warning {
        color: #9F6000;
        background-color: #FEEFB3;
    }
    .rti_error {
        color: #D8000C;
        background-color: #FFD2D2;
    }

    .rti-button-orange {
        height: 40px;
        padding: 0 18px;
        color: #f9f0ef;
        font-weight: 500;

        border-radius: 3px;
        border: 1px solid #303739;
        border-top-color: #363d40;
        border-bottom-color: #272c2e;
        /*background-color: #ed473b;*/
        background-color: #ff6600;
        /*background-image: -webkit-linear-gradient(top, #ef4f42 2%, #db3a2f 98%);*/
        background-image: -webkit-linear-gradient(top, #ff8533 2%, #e65c00 98%);
        /*background-image: linear-gradient(to bottom,#ef4f42 2%, #db3a2f 98%);*/
        background-image: linear-gradient(to bottom,#ff8533 2%, #e65c00 98%);
        /*-webkit-box-shadow: inset 0 1px 2px #f18880, inset 0 0 1px #ef645b, 0 0 0 3px rgba(0, 0, 0, 0.32), 0 1px 0 3px rgba(255, 255, 255, 0.14);*/
        -webkit-box-shadow: inset 0 1px 2px #ffa366, inset 0 0 1px #ff8533, 0 0 0 3px rgba(0, 0, 0, 0.32), 0 1px 0 3px rgba(255, 255, 255, 0.14);
        box-shadow: inset 0 1px 2px #f18880, inset 0 0 1px #ef645b, 0 0 0 3px rgba(0, 0, 0, 0.32), 0 1px 0 3px rgba(255, 255, 255, 0.14);
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
    }

    .rti-button-orange:after {
        border: inherit;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
    }

    .rti-button-orange:hover:after {
        background-color: rgba(243, 137, 129, 0.1);
    }

    .rti-button-orange:focus:after {
        border: inherit;
        -webkit-box-shadow: 0 0 3px 2px #07a9ca;
        box-shadow: 0 0 3px 2px #07a9ca;
    }

    .rti-button-orange:active:after {
        background-color: rgba(146, 12, 2, 0.2);
    }

    p.rti-wrap {
        width: 45em;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
    }

    .rti-grid-comments td {
        height:150px !important;
    }

  /* An actual theme rule */
  /*
  .v-button {
    color: #fff;
  }*/
}
